{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "strict",
  "jsxBracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "commentPreserveBreakline": true
}
