@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset';
@import 'fonts';
@import 'swiper';

// css variables
$white: #fff;
$black: #000;

:root {
  --background: #ffffff;
  --foreground: #121212;

  --primary: #112856;

  --sementicgreen: #2f5539;
  --sementicred: #d12f37;
  --sementicblue: #23507a;

  --lightgrey-1: #f8f8f8;
  --lightgrey-2: #f3efef;
  --lightgrey-3: #e5e7eb;
  --lightgrey-4: #e6e5e5;

  --grey-1: #d8d8d8;
  --grey-2: #bbbbbb;
  --grey-3: #808080;
  --grey-4: #5f5f5f;

  --darkgrey-1: #43464e;
  --darkgrey-2: #1d1f22;
  --darkgrey-3: #121212;

  // --hdHeight: 80px;
}

body {
  color: var(--foreground);
  background: var(--background);
}
