@import 'variables';
@import 'mixins';
@import 'swiper';

:root {
  --background: #{$white};
  --foreground: #{$darkgrey-3};
  --primary: #{$primary};
  --semantic-green: #{$semantic-green};
  --semantic-red: #{$semantic-red};
  --semantic-blue: #{$semantic-blue};
  --lightgrey-1: #{$lightgrey-1};
  --lightgrey-2: #{$lightgrey-2};
  --lightgrey-3: #{$lightgrey-3};
  --lightgrey-4: #{$lightgrey-4};
  --grey-1: #{$grey-1};
  --grey-2: #{$grey-2};
  --grey-3: #{$grey-3};
  --grey-4: #{$grey-4};
  --darkgrey-1: #{$darkgrey-1};
  --darkgrey-2: #{$darkgrey-2};
  --darkgrey-3: #{$darkgrey-3};
  --hd-height: 134px;
}

/* 기본 폰트 설정 */
html,
body {
  overflow-x: hidden;

  @include pc-body2;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* 헤딩 폰트 설정 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: #{$font-family-heading};
}
