@import '../../styles/globals';

// ProductImg.jsx style

html {
  scroll-snap-type: y mandatory;
}

.img-container {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: clip;

  > div {
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2 {
    color: var(--hue-6);
    margin: 0;
    font-family: 'Azeret Mono', monospace;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    position: absolute;
    display: inline-block;
    top: calc(50% - 25px);
    left: calc(50% + 120px);
  }
}

@include desktop-less {
  .img-container {
    > div {
      width: 150px;
      height: 200px;
    }

    img {
      width: 150px;
      height: 200px;
    }
  }
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--hue-6);
  bottom: 50px;
  transform: scaleX(0);
}
