@import '../../styles/globals';

.service-page-container {
  padding: 0 240px;

  @include desktop-less {
    padding: 0 60px;

    section {
      margin: $sec-gap-tablet 0;
    }
  }

  section {
    margin: $sec-gap-pc 0;
    text-align: center;
  }

  .first-sec {
    margin-top: calc($sec-gap-pc + $header-h);

    @include desktop-less {
      margin-top: calc($sec-gap-tablet + $header-h-m);
    }
  }

  h2 {
    @include pc-heading1;

    margin-bottom: 40px;

    @include desktop-less {
      @include tm-heading1;
    }
  }

  p {
    @include pc-body2;

    @include desktop-less {
      @include tm-body2;
    }
  }
}

.flex-col-align-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-align-box {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.service-sec-img-size1 {
  width: 50%;
  height: 799px;
  background-size: cover;

  @include desktop-less {
    height: 351px;
  }
}

.gift-sec-swiper {
  width: 1074px;

  @include desktop-less {
    width: 480px;
  }

  .swiper-slide {
    width: 342px;

    div {
      width: 100%;
      height: 359px;
      background-size: cover;

      @include desktop-less {
        height: 152px;
      }
    }

    p {
      width: 100%;
      margin-top: 24px;
    }
  }
}

.store-info-swiper {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 40px;

    ul {
      display: flex;
      gap: 24px;
      justify-content: center;
      margin-bottom: 40px;

      @include desktop-less {
        display: none;
      }

      div {
        width: 100%;
        height: 12.4375rem;
        margin-bottom: 24px;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      width: 9.9375rem;
      height: 16.1875rem;

      p {
        @include pc-body4;
      }
    }
  }
}

.store-info-desc {
  flex-grow: 1;

  @include desktop-less {
    gap: 24px !important;
    margin-top: -9px;
  }
}

.store-info-btn {
  height: 60px !important;

  p {
    @include pc-body3;
  }

  @include desktop-less {
    height: 48px !important;
  }
}

.store-img-swiper {
  .store-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .swiper-pagination-bullets {
    bottom: 24px;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}

.refill-img {
  height: 433px;
  margin-bottom: 24px;
  background-size: cover;

  @include desktop-less {
    height: 312px;
  }
}

.online-img-ul {
  li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  div {
    width: 220px;
    height: 281px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 24px;
  }

  @include desktop-less {
    li {
      margin-bottom: 40px;
    }

    div {
      width: 200px;
      height: 256px;
    }
  }
}

.goto-register-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 342px;
    margin-top: 40px;
  }

  p {
    @include pc-body3;
  }

  @include desktop-less {
    button {
      width: 312px;
      height: 42px;
    }

    p {
      @include tm-body3;
    }
  }
}
